<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMIC</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for Navbar -->
    <style>
        .navbar-custom {
            background-color: #2d85f8;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container d-block d-lg-flex">
            <div class="w-100 d-inline-flex justify-content-between">
                <a class="navbar-brand" style="color: azure;" href="#">JMIC</a>
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" style="color: azure;" href="#">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" style="color: azure;" href="{% url 'batch' %}">Teacher</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <!-- Your content goes here -->
    <div class="container-fluid px-5 py-5">
        <div class="row g-4">
            <div class="col-12 col-xxl-6 " style="height: 600px; padding: 5px;">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 600px;">
                            <img style="height: 100%;"
                                src="https://1.bp.blogspot.com/-2ss80L66Al0/YVMfkHyCOqI/AAAAAAAAAd4/Ct0l0V8CCaEOyz66S3GY8vd22oyPvd2NwCLcBGAsYHQ/s320/DSC_0759.JPG"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" style="height: 600px;">
                            <img style="height: 100%;"
                                src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgGSVpBvj4o_OFQwf_YLwFEUbVYUUPCGsEgXpkej3m6DuH5uj1Lumu6vHcsyXeP6FxQDnaGAwpjKsfbRQDYeeLUYS-wyndfmXNW6CWDpDvf4WTSjigosgBxz1NwNcnM-bKDxc6rY5QNxGo6jXb_QzRAvHCxfN9XbyeuaKDabucVkjs0vO7Yt7Zs_JARhQ/s1280/4.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" style="height: 600px;">
                            <img style="height: 100%;"
                                src="https://1.bp.blogspot.com/-q2s7B1wPvno/YVG7haUu83I/AAAAAAAAAcw/E9krzKqNExM8uTsGaP7udl-au21bRHNEgCLcBGAsYHQ/s16000/sslc.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-xxl-6" style="display: flex;flex-wrap: wrap;height: 600px; padding: 10px;">
                <div class="row w-100 d-inline-flex flex-wrap justify-content-evenly align-content-around">
                    <div class="col">
                        <div class=" card text-center" style="border: none;">
                            <div class=" card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEhFyBQ5dgoWybm1HIJfQ9hQhVmVHgKYGgIyC1qaYVC4epMo6mR-COi5PAXFgxCIyYBqmRYuYsLSZ9c4UDY7wRCpCNB8TddiukocXusB_evqOtcdk9glWn0nREdul-ODimw7VyTRE3nZqoVL02i8R-kSubiKcTx5rqIdypOGjjBOcQ6q6cUq6Uxs_Nl1Bg=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">About us</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" card text-center" style=" border: none;border-radius: 50px;">
                            <div class="card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEjQ4lN5bfF0STfwObQIGcLvA6mkSFIX21SpzDSvjzKq-eOc9XlF1xHRFA2wLdT82im6na8hFEo3kU0ui_cEo3z4_f9QbhnPf2R7EX_BIw2BfR1Nv4DEfYtrkMX1kFdDL8PkbN8YxF9a5BFdc4u-qfA77kMi4QHafod8lGtuDnJKgiSNhLeNU7hYdp7U2w=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Faculties</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" card text-center" style="border: none;">
                            <div class="card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEj_rAPEBYccO0NMWUOz-0whrHmXQNTouAT0DeAFT7FKF0n6_pjYRXvHy3j5xrHwusCyGvI5opotaliCd6o2ZaHHA7qYwijQNdy_RG5yDisaOwmEyLK0YCa5kxbLUmhAYEFjBId6ziEkuizqcFKrQC3RufLX-NgzP1mv292_dAeqSuZAQ_PKMqIfuqtsGw=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Admition</a></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 d-inline-flex flex-wrap justify-content-evenly align-content-around">
                    <div class="col">
                        <div class=" card text-center" style="border: none;">
                            <div class=" card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEgE0QTep3Ur142uzVonypdI-eEPj54HEOeAWFAfw4sctd4hsFu6hiaIAZpeCqFgTmZo9Q_AC4lIVQogaPvPgUCEdfAE7rfjtBybxX0Xsi6NTmP7-4lpN0-pgkG4K0tMqlNqtX2ftyYdwDLo3vnrzX1R8mfVwlpSBxj3cjKta_Xsp8-Dsx_vXULn7TBrOA=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Acadamics</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" card text-center" style=" border: none;">
                            <a href="{% url 'login' %}">
                                <div class="card-body" style="margin: 15px;">
                                    <img width="100px"
                                        src="https://blogger.googleusercontent.com/img/a/AVvXsEi7rn67BBIbf1REB2Zr6Sn_VJgPXdVIWIPvNo3eUtMeWh48DFoTPivQEkyd32qrmg0h9h9esyJsytJEYkflXz6b9yhGw9eZJAGYmVnm7-LhqFsBsaRPyc4kSuc8Y3uGKdKtRjUndCuuObxTkhZtGHM85YX1Huh_5jR0cZABuLf_3C1HtOdl5qRMyu2Vog=s1280"
                                        alt="">
                                    <br><b><a href="#" class="btn">Students corner</a></b>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" card text-center" style="border: none;">
                            <div class="card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEhPhudrZnsGkk4p2rtSPxCfr6_wlmHN3hSFOMTn0IK_ftqH5Tp-Gjal6Dhh4nmhXEjO7oc_ZfHOL74GgywXldyICJgWMkjCHd-zgtnryWvongeoVhefdf58Rt_GDkM3IFfFtrovj2fnOjfJY7rWsjiQZP34RueDzK4ZN0mCwtLx9-z3E4mr2W05l2R9ZA=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Nottifications</a></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 d-inline-flex flex-wrap justify-content-evenly align-content-around">
                    <div class="col">
                        <div class=" card text-center" style="border: none;">
                            <div class=" card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEimj38y2TTh8jqrqFX3X4x3aN6PR08BEGC8Rgeta7jdThroFFh4gKL3O9SadawPfcy-MIBr7ATTFVLSG_rfOLteAdTIFYs1dnMLquSW_9I_SlOOI2NhMaCJd4OOPRoEBMWSH--wS_yOPXp4VTVDbLp4bne7rCSx3Fe76Aukp5Squuzl-4H16tGMCCJNVQ=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Downloads</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" card text-center" style=" border: none;">
                            <div class="card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEiSeVNLCGTfQHVpJf5O3u9NHPvcZWXs4z66W2mJvS_dc6_PmV6NGX-yhOawZUk5TQT5gkbDEG-RUiZ1TzJg0ioI-wXj-dH8w2NpBWWpNx5G-iVXQ8r39WL5HeQw3ae4ieNGSrM9tHFiWCtmsFeajXFFvSIN3HyZpI7M_BvW1xrLUBGpnXBGQgQ_mzzk4Q=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Gallery</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" card text-center" style="border: none;">
                            <div class="card-body" style="margin: 15px;">
                                <img width="100px"
                                    src="https://blogger.googleusercontent.com/img/a/AVvXsEj-qhe5LLYY5V666nXhTaHNbXhGZBle0OMPccF2t5RJBxIGxvQNdkLqiCD_ZcDbM_yvt53Ea6VHZ1fE9RTTUbzCUztsh9vVm9DwYQvGLK6973in2qCngI_-c7lN2Fr3Uz8UuCCACuy2TfKbQRWGJzUtQv1lXiWEJqpPGjvGBkxiaeEooaY32sRmW2gsZQ=s1280"
                                    alt="">
                                <br><b><a href="#" class="btn">Youtube</a></b>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <h1>hi wellcome</h1>
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Signin</a> -->
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>

</body>

</html>