{% extends 'batchbase.html' %}

{% block datalist %}
<div class="container-fluid home">
    <header class="row d-flex justify-content-between align-items-center navbar-dark">
        <span class="h1 w-auto">Student Management</span>
        <button class="btn w-auto togle-btn" onclick="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="content row flex-md-row-reverse">
        
        <div class="col ">
            <table class="user-list">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in us%}
                    <tr>
                        <td>{{u.studentid}}</td>
                        <td>{{u.st_name}}</td>
                        <td>{{u.st_dob}}</td>
                        <td class="d-flex justify-content-around">
                            <a class="" style="border: none; padding: 2px;" href="{% url 'edit' u.id %}" id="{{u.id}}">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <!-- <form action="" method="post">
                                {% csrf_token %}
                            </form> -->
                            <!-- <a class="btn" href="{% url 'del' u.id %}" id="{{u.id}}">Delete</a> -->
                            <a type="button" class="" style="border: none; padding: 2px;" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="fa fa-trash"></i>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Delete your data in database. cannot recovery the deleted data's
                                        </div>
                                        <form action="{% url 'del' pk=u.id %}" class="modal-footer" method="post">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger">Delete</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor%}

                    <!-- Add more user rows here -->
                </tbody>
            </table>
        </div>
        <div class="sidebar col-2 col-md-12" id="sidebar">
            <a href="#">Home</a>
            <a href="{% url 'addstu' %}">Add User</a>
            <!-- Add more sidebar links here -->
        </div>
    </div>
</div>
{% endblock datalist %}


{% block script %}
<script>
    function toggleSidebar() {
        var dis = document.getElementById('sidebar');
        if (dis.style.display === "none") {
            dis.style.display = "block";
        } else {
            dis.style.display = "none";
        }
    }
</script>
{% endblock script %}