{% extends 'batchbase.html' %}


{% block datalist %}

<div class="container-fluid home">
    <header class="row d-flex justify-content-between align-items-center navbar-dark">
        <span class="h1 w-auto">Student Management</span>
        <button class="btn w-auto togle-btn" onclick="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="m-4" style="height: 100%;">
        <div class="row">
            <div class="sidebar col-2 col-md-12" style="height:80vh;" id="sidebar">
                <a href="{% url 'batchome' %}">Home</a>
                <a href="{% url 'marck' %}">Mark</a>
                <a href="{% url 'addstu' %}">Add Student</a>
                <a href="{% url 'addmarck' %}">Add Mark</a>
                <!-- Add more sidebar links here -->
            </div>
            <div class="col" style="height: 80vh; width: 100vh; overflow-y: scroll;">
                <h1><b>Add Marck</b></h1>

                <!-- User Edit Form -->
                <div class="container pt-5">
                    <form method="post" name="first">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row g-3 pt-5 pb-5">
                            <div class="col-md-6">
                                <label for="select1" class="form-label">Select Student</label>
                                <select class="form-select" id="select1" name="stid">

                                    {% if stid %}
                                    <option selected>{{stid}}</option>
                                    {% else %}
                                    <option selected>Select a student</option>
                                    {% endif %}
                                    {% for i in std %}
                                    <option value="{{i.studentid}}">{{i.studentid}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="select2" class="form-label">Select Semester</label>
                                <select class="form-select" id="select2" name="semes">
                                    {% if semes %}
                                    <option selected>{{semes}}</option>
                                    {% else %}
                                    <option selected>Select a student</option>
                                    {% endif %}
                                    {% for i in sem %}
                                    <option value="{{i.sem}}">{{i.sem}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="row pb-5">

                            {% for i in sub %}
                            <div class="col">
                                <label class="form-label">{{i}} :</label>
                                <input class="form-control" name="{{i}}" type="number" max="100">
                            </div>
                            {% endfor %}


                        </div>
                        {% if error_message %}
                        <p style="font-size: 15px;color: red;">{{ error_message }}</p>
                        {% endif %}
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</div>
{% endblock datalist %}
{% block script %}
<script>
    function toggleSidebar() {
        var dis = document.getElementById('sidebar');
        if (dis.style.display === "none") {
            dis.style.display = "block";
        } else {
            dis.style.display = "none";
        }
    }
</script>
{% endblock script %}